/* Reset CSS */
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lato:400,700');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
	height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
	line-height: 1;
}

body.open {
	overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: #222629;
	text-decoration: none;
}

/* End Reset CSS */


body {
    font-family:'Crimson Text', serif;
}

#body.open-body {
	overflow-y: hidden;
}

h1 {
    font-size: 2em;
    font-weight: 300;
}

h2 {
    font-size: 1.7em;
    font-weight: 300;
}

p {
	font-family:'Crimson Text', serif;
	font-size: 1.1em;
	line-height: 1.2;
	color: rgba(26,26,26,.7);
}

.header {
	background-image: url("../img/headerImage_3.png");
	height: 100vh;
	width: 100%;
	color: #222629;
	background-size: cover;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
	padding: 20px;
}

.logo {
	/* width: 100%; */
	text-align: left;
	display: inline-block;
}

.logoText {
	padding: 21px 0px 0px 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5em;
	font-weight: 300;
	color: #00434a;
}

.toggleBar {
	width: 40px;
	height: 30px;
	position: absolute;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	display: inline-block;
	top: 52px;
	right: 20px;
	z-index: 16;
}

.toggle {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #000064;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.toggleBar .toggle:nth-child(1) {
	top: 0px;
}

.toggleBar .toggle:nth-child(2),.toggleBar .toggle:nth-child(3) {
	top: 10px;
}

.toggleBar .toggle:nth-child(4) {
	top: 20px;
}

.toggleBar.open {
	position: fixed;
}

.toggleBar.open .toggle:nth-child(1) {
	top: 10px;
	width: 0%;
	left: 50%;
}

.toggleBar.open .toggle:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #e7e7e7;
}

.toggleBar.open .toggle:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background: #e7e7e7;
}

.toggleBar.open .toggle:nth-child(4) {
	top: 10px;
	width: 0%;
	left: 50%;
}

.navWrapper {
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	background-color: #000064;
	z-index: 5;
	font-family: "Roboto", sans-serif;
	font-size: 2em;
	font-weight: 300;
	left: -100%;
	-webkit-transition:500ms ease-in-out;
    -moz-transition:500ms ease-in-out;
    -o-transition:500ms ease-in-out;
	transition:500ms ease-in-out;
}

.navWrapper ul {
	margin-top: 80px;
}

.navWrapper ul li {
	margin: 35px 60px 0px 60px;
	padding: 10px;
	-webkit-transition:500ms ease-in-out;
    -moz-transition:500ms ease-in-out;
    -o-transition:500ms ease-in-out;
	transition:500ms ease-in-out;
	border-bottom: 2px #e7e7e7 solid;
}

.navWrapper ul li a {
	color: #e7e7e7;	
}

.navWrapper ul li:hover {
	font-size: 1.2em;
	-webkit-transition:200ms ease-in-out;
    -moz-transition:200ms ease-in-out;
    -o-transition:200ms ease-in-out;
    transition:200ms ease-in-out;
}


.slogan {
	margin-top: 20vh;
	margin-left: 20px;
	position: relative;
}

.sloganText {
	position: absolute;
	color: #222629;
	font-size: 3em;
	line-height: 70px;
}

.sloganBar {
	position: absolute;
	height: 175px;
	top: 16px;
	width: 3px;
	margin-left: -10px;
	background-color: #000064;
}

.portfolio {
	margin-top: 70vh;
	display: flex;
	justify-content: center;
}

.btn {
	width: 150px;
	height: 40px;
	background-color: #000064;
    border: 0;
    color: #e7e7e7;
    /* cursor: default; */
	font-size: 1.35em;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
    overflow: visible;
	padding: 0;
	border-radius: 2px;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	cursor: pointer;
}

.btn:hover {
	background-color: #000064;
}

.navWrapper.active{
	left: 0px;
}

/* ______________________________________*/

.container {
	margin: 0px;
	padding: 25px;
}

.coaching {
	position: relative;
}
.title {
	text-align: center;
	font-weight: 400;
	color: #222629;
	height: 35px;
	border-bottom: #000064 solid 2px;
}

.title > h2 {
	font-weight: 400;
}

.catg {
	right: 0px;
	left: 0px;
	margin: 15px;
	background-color: #fff;
	-webkit-box-shadow: 0px 4px 16px -2px rgba(158,158,158,0.57);
	-moz-box-shadow: 0px 4px 16px -2px rgba(158,158,158,0.57);
	box-shadow: 0px 4px 16px -2px rgba(158,158,158,0.57);
	border-radius: 4px;
	padding: 15px;
	text-align: center;
	color: #222629;
}

.icon {
	width: 60px;
	margin-left: auto;
	margin-right: auto;
}

.catg > h3 {
	font-size: 1.5em;
	margin: 10px 0px 5px 0px;
} 

/* _____________________________*/
.abt-img > img {
	margin: 15px 0px 15px 0px;
	width: 100%;
}

.about p{
	color: rgba(26,26,26,.7);
	text-align: center;
}

/*________________*/

.footer {
	text-align: center;
	background-color: #000064;
	color: #e7e7e7;
}

.social {
	margin: 0px;
	width: 100%;
}

.icons  i {
	font-size: 1.5em;
	padding: 10px;
}

.footer a {
	color: #e7e7e7;
}

.footer p {
	font-size: .55em;
}

.links {
	padding-top: 10px;
}


@media only screen and (min-width: 992px) {
	.sloganText {
		font-size: 4em;
		text-align: center;
		width: 100%;
		line-height: 1.5;
	}

	.sloganBar {
		display: none;
	}

	.catg {
		float: left;
		width: 33.33%;

	}
}