@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat:400,500,600');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

h2 {
	font-size: 1.5em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

h3 {
	font-size: 1.5em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

p {
	font-size: 1.1em;
	line-height: 1.6em;
	font-family: 'Crimson Text', serif;
	color: rgba(26,26,26,.7);
}

section {
	margin-top: 80px;
	padding: 10px;
}
section h1 {
	color: #003040;
}

body.open {
	height: 100%;
	overflow: hidden;
}

.header {
	background:   linear-gradient(		rgba(0, 0, 0, 0.30), 		rgba(0, 0, 0, 0.4)	  ),url("../img/background.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 35px;
	grid-template-rows: auto 1fr;
	grid-template-areas: "logo toggle" 	"hero hero";
	padding: 20px;
	color: white;
}


.logo {
	grid-area: logo;
	margin-top: 5px;
}
.logo h1 {
	font-size: 1.5em;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.hamburger {
	grid-area: toggle;
	width: 30px;
display: inline-block;
cursor: pointer;
transition-property: opacity, filter;
transition-duration: 0.15s;
transition-timing-function: linear;
font: inherit;
color: inherit;
text-transform: none;
background-color: transparent;
border: 0;
margin-top: 5px;
overflow: visible; }
.hamburger:hover {
	opacity: 0.7; }

.hamburger-box {
width: 100%;
height: 24px;
display: inline-block;
position: relative; 
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 100%;
	height: 2px;
	background-color: white;
	border-radius: 1px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
}
.hamburger-inner::before, .hamburger-inner::after {
	content: "";
	display: block; 
}
.hamburger-inner::before {
	top: -10px; 
}
.hamburger-inner::after {
	bottom: -10px; 
}
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }


.navWrapper {
    position: absolute;
    top: 0px;
    right: -100vw;
    height: 100vh;
	width: 300px;
	padding: 10px;
    background-color: #212121;
    color: #fff;
    font-size: .8em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.navWrapper li {
	padding: 20px;
}
.navWrapper .btn {
	background: none;
	border: 3px solid #003040;
	margin: 0px;
}
.navWrapper .btn:hover {
	background: #003040;
	margin: 0px;
}
.navWrapper.active {
	right: 0px;
}

.deskNav{
	display: none;
}

.slogan {
	grid-area: hero;
	grid-column: 1 / 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slogan p {
	color: white;
	font-style: italic;
	padding: 10px;
} 

.sloganText {
	font-size: 2.1em;
	font-weight: 700;
	display: inline;
	text-align: center;
	padding: 10px;
}

.btn {
	cursor: pointer;
	padding: 15px 20px;
	margin-top: 40px;
	background-color: #003040;
	color: white;
	font-weight: 700;
	font-size: 1.2em;
	font-stretch: wider;
	border: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}



.title {
	text-align: center;
	margin-bottom: 20px;
}

.about {
	text-align: center;
}

.about img {
	margin-bottom: 20px;
}

.coaching {
	display: grid;
	grid-template-areas:"title"
						"card1"
						"card2"
						"card3"; 
	justify-items: center;
}

.coaching img {
	height: 50px;
	width: auto; 
}

.catg {
	width: 90%;
	text-align: center;
	margin-bottom: 20px;
	padding: 10px;
	box-shadow: 0px 0px 7px 0.5px #21212121;
}

.card1 {
	grid-area: card1;
}

.card2 {
	grid-area: card2;
}

.card3 {
	grid-area: card3;
}

.footer {
	padding: 20px;
	background-color: #1f1f1f;
	text-align: center;
	color: white;
	font-size: .9em;
	font-weight: 400;
}

.footer p{
	color: white;
}

.footer i {
	font-size: 2em;
	padding: 10px;
}

@media only screen and (min-width: 900px) {
	.navWrapper.active {
		transition: 0s;
		right: -100vh;
	}
	.sloganText {
		font-size: 4em;
		width: 500px;
	}
	.about {
		margin-left: auto;
		margin-right: auto;
		max-width: 60vw;
		text-align: left;
	} 

	.about .about-image { 
		width: 25vw;
		margin-right: 20px;
		float: left;
	}
	.about-image img {
		max-width: 100%;
	}

	.coaching {
		clear: both;
		grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
		grid-template-areas: ". title title title ."
		". card1 card2 card3 ."
		". coachBtn coachBtn coachBtn ."; 
	}

	.coachBtn {
		  grid-area: coachBtn;
	}

	.coaching .title {
		grid-column: 3 / 4;
	} 

	.hamburger {
		  display: none;
	}

	.deskNav {
		display: inline;
		position: absolute;
		top: 15px;
		right: 0px;
		color: white;
		font-family: "Montserrat", sans-serif;
		font-size: .8em;
		font-weight: 500;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	.deskNav li{
		display: inline-block;
		margin: 0px 10px;
		border-bottom: 1px solid #fff0;
		transition: 0.3s linear;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-ms-transition: 0.3s;
		-o-transition: 0.3s;
	}
	.deskNav li a{
		display: block;
		padding: 10px 10px 5px 10px;
	}
	.deskNav li:hover {
		cursor: pointer;
		border-bottom: 1px solid white;
	}
	.deskNav li:hover {
		cursor: pointer;
		border-bottom: 1px solid white;
	}
	.deskNav li:last-child:hover {
		border-bottom: none;
	}
	.deskNav li .btn {
		margin: 0px;
		background: none;
		border: 3px solid #003040;
		font-size: 1.2em;
		padding: 5px 10px;
	}
	.deskNav li .btn:hover {
		background-color: #003040;
		transition: 0.3s;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-ms-transition: 0.3s;
		-o-transition: 0.3s;
	}

}