{{ template "header" }}

<div class="contact">
    <div class="title">
        <h1>Contacts</h1>
    </div>

    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Sent On</th>
        </tr>
        {{ range . }}
            <tr class="detailsRow" onclick="contactRow(this.id)" id="{{ .ID }}" >
                <td>{{ .Name }}</td>
                <td>{{ .Email }}</td>
                <td>{{ .Subject }}</td>
                <td>{{ .Time }}</td>
            </tr>
        {{ end }}
      </table>

</div>

{{ template "footer" }}