<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
        <!-- css -->
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">        
        <link rel="stylesheet" href="css/home.css">

        <link rel="icon" href="img/favicon.ico">

        <title>Mirsab Mirza</title>
    </head>
    <body>
        <div class="navWrapper" id="nav">        
            <nav class="nav">
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="#"><button class="btn">Personal Coaching</button></a></li>
                </ul>
            </nav>
        </div>
        <div class="deskNav">
            <div class="nav">
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/#">Portfolio</a></li>
                    <li><a href="/#">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="#"><button class="btn">Personal Coaching</button></a></li>
                </ul>
            </div>
        </div>
        <div class="header" id="header">
            <div class="logo">
                <h1 class="logoText"><a href="/">Mirsab Mirza</a></h1>
            </div>
           <div class="hamburger hamburger--collapse" id="t">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
            <div class="slogan">
                <div class="sloganBar"></div>
                <p>Your Personal Coach</p>                
                <h2 class="sloganText">ARE YOU READY TO TRANSFORM YOUR BODY?</h2>
                <button class="btn">GET STARTED</button>
            </div>
        </div>

        <section class="about">
            <div class="title">
                <h1>My Story</h1>
            </div>
            <div class="about-image">
                <img src="img/about.jpg" alt="" srcset="">
            </div>
            <div class="cont"><p>My name is Mirsab Mirza. Since you have clicked on my website, you probably know by now, I'm about health, fitness, and motivation. So a quick backstory: I started my fitness journey in 2012, I was not content with my physique and I was determined to make a change. Present day, i've come a long way, yet I have much more to accomplish regarding my physique. During my fitness journey, I have also discovered a passion to help others transform their bodies to their liking. Since then, to further my understanding of health and fitness, I have become a certified personal trainer. Along with that, I gained admission to Rutgers University's Exercise Physiology program, which I'm on the verge of completing shortly. With my personal experience and knowledge which I have attained, I'm now dedicating myself to helping others. Along with this I also plan to expand my endeavors in other avenues of health and fitness. Thank you for your continued support. </p></div>
            
        </section>

        <section class="coaching">
            <div class="title">
                <h1>Coaching</h1>
            </div>
            <div class="catg card1">
                <div class="icon">
                    <img src="img/Asset1.svg" alt="icon">
                </div>
                <h3>Workout Plans</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus eum laborum deserunt ea molestias! Dicta libero facilis quasi! Dignissimos provident, perspiciatis quaerat veritatis sapiente minima corporis modi deserunt nulla nobis? Ducimus eum laborum deserunt ea molestias! Ducimus eum laborum deserunt ea molestias! Dicta libero facilis quasi! Dignissimos provident</p>
            </div>
            <div class="catg card2">
                <div class="icon">
                    <img src="img/Asset3.svg" alt="icon">
                </div>
                <h3>Diet Plans</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus eum laborum deserunt ea molestias! Dicta libero facilis quasi! Dignissimos provident, perspiciatis quaerat veritatis sapiente minima corporis modi deserunt nulla nobis? Ducimus eum laborum deserunt ea molestias! Ducimus eum laborum deserunt ea molestias! Dicta libero facilis quasi! Dignissimos provident</p>
            </div>
            <div class="catg card3">
                <div class="icon">
                    <img src="img/Asset2.svg" alt="icon">
                </div>
                <h3>One on One Training</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus eum laborum deserunt ea molestias! Dicta libero facilis quasi! Dignissimos provident, perspiciatis quaerat veritatis sapiente minima corporis modi deserunt nulla nobis? Ducimus eum laborum deserunt ea molestias! Ducimus eum laborum deserunt ea molestias! Dicta libero facilis quasi! Dignissimos provident</p>
            </div>
            <button class="btn coachBtn">GET STARTED</button>
        </section>

        
        <section class="footer">
            <div class="social">
                <div class="follow-title">
                    <p>Follow Me</p>
                </div>
                <div class="icons">
                    <a href="https://www.instagram.com/mirsabmirza/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.snapchat.com/add/blahblah632"><i class="fab fa-snapchat-ghost"></i></a>
                    <a href="https://www.youtube.com/MirsabMirza"><i class="fab fa-youtube"></i></a>
                    <a href="https://www.facebook.com/mirsab.mirza.39"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
            <div class="links">
                <p>copyright &copy 2018 Mirsab Mirza | <a href="#">Terms of use</a> | <a href="#">Privacy Policy</a></p>
                
    
            </div>
        </section>
        <script src="js/main.js"></script>
    </body>
</html>