{{ template "header" }}

<section class= "portfolio">
    <div class="title">
        <h1>Portfolio</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi et laboriosam optio non, deleniti debitis quia nisi atque rerum earum neque error vel ab quas dignissimos natus saepe iusto delectus.</p>
    </div>
</section>

{{ template "footer" }}